.HeaderParent {
  height: 70px;
  background-color: #212428;
  display: flex;
  align-items: center;
  gap: 20px;
}
.heading {
  color: #ff014f;
  font-size: 25px;
  font-weight: 700;
  margin-left: 30px;
}
.navlinks {
  display: flex;
  color: #fff;
  gap: 15px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 2%;
}
